@media all{
	body{font-family:sans-serif;font-size:1.2em;line-height:1.75em;color:#000;background:#fff;}
	.skryte{display:none;}
}
@media screen{
	body{margin:5px;padding:5px;}
	a{font-weight:bold;}
	a.fn{color:#000;text-decoration:none;}
	a:active,a:hover,a:focus{color:#f00;background:#ff3;border-radius:3px;}
}
@media screen and (min-width: 40em){
	body{margin:5px 30px;padding:5px 30px;}
	a{font-weight:bold;}
	a.fn{color:#000;text-decoration:none;}
}
@media print{
	body{;margin:5px;padding:5px 0;}
	a{text-decoration:none;font-weight:normal;color:#000;}
	.odkazy{display:none;}
}
