		<div cd="hcard-pek" class="vcard">
		<a class="url fn" href="https://petr.kle.cz"><h1>Petr Kletečka</h1></a>
	
		<p>
		<img src="/img/pek.jpg" width="150" height="200" alt="Petr Kletečka" class="photo"/>
		</p>
		<p>
		E-mail: <a href="mailto:petr@kle.cz?subject=Nabídka práce" title="Elektronická pošta" class="email">petr@kle.cz</a>
		</p>

		<h2>Dovednosti</h2>

	<ul>
		<li><span class="role">Pokročilá správa systému Linux</span> - <a href="http://slackbuilds.org/cgit/slackbuilds/log/?qt=author&q=Petr+Kletecka" title="Dlouhodobé zkušenosti">Slackware</a>, <a href="https://github.com/petrkle/debian/" title="Dlouhodobé zkušenosti">Debian</a>, Ubuntu</li>
		<li>Configuration management - <a href="https://saltstack.cz">Saltstack</a></li>
		<li>Instalace a údržba poštovních serverů - <a href="https://github.com/petrkle/postfix-mailgroups-expand" title="Kompletní správa - příklad správy emailových skupin">Postfix</a>, Cyrus, SpamAssassin</li>
		<li>Programování - <a href="https://metacpan.org/author/PEK" title="Příspěvky v CPANu">Perl</a>, <a href="https://github.com/petrkle/git-deploy" title="Ukázka skriptu">Bash</a>, <a href="http://sourceforge.net/p/squirrelmail/patches/469/" title="Oprava aplikace SquirrelMail">PHP</a></li>
		<li>Správa Windows - ActiveDirectory</li>
		<li>Nasazení software ve Windows - <a href="https://github.com/petrkle/vim-msi" title="Microsoft Installer - MSI">WiX Toolset</a>, <a href="http://wpkg.org/Special:Contributions/Pek" title="Snadná instalace programů">WPKG</a></li>
		<li>Vývoj mobilních aplikací pro systém <a href="https://play.google.com/store/apps/developer?id=Petr+Klete%C4%8Dka" title="Aplikace v Google Play">Android</a> - Apache Cordova a <a href="https://marketplace.firefox.com/search?author=Petr+Klete%C4%8Dka" title="Firefox Marketplace">Firefox OS</a></li>
		<li>Psaní všemi deseti</li>
		<li>Řidičský průkaz - A, B, C, T</li>
	</ul>
		<ul style="display:none">
			<li>Bydliště: <span class="address">Česká republika</span></li>
		</ul>

		</div>

		<div class="odkazy">
		<h2>Zjistit více</h2>
		<ul>
			<li><a href="https://www.linkedin.com/in/petrkle">LinkedIn</a></a>
			<li><a href="https://github.com/petrkle">GitHub</a></li>
			<li><a href="https://metacpan.org/author/PEK">CPAN</a></li>
			<li><a href="https://coderwall.com/pek">coderwall</a></li>
			<li><a href="https://kle.cz">kle.cz</a></li>
			<li><a href="mailto:petr@kle.cz?subject=Nabídka práce" title="Elektronická pošta" class="email">petr@kle.cz</a></li>
		</ul>
		</div>
